nav {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%,
  rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  display: flex;
  justify-content: space-between;

  .router-link {
      margin-top: 5px;
      width: 100%;
      font-size: 26px;
      cursor: pointer;
      text-decoration: none;
      color: #fff;
  }
}